
body
{
	margin: 0;
	background-color: white;
	color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 17px;
	width: 1310px;
	margin-right: auto;
	margin-left: auto;
}
h1.logo
{
	font-size:  40px;
	font-weight:  700;
	color:  black;
	text-align:  center;
	text-transform:  uppercase;
	letter-spacing:  5px;
	margin-top:  50px;
	margin-bottom:  40px;
}

nav
{
	background-color: none;
}

.panel
{
		display: inline-block;
		margin-top: 2px;
		margin-right: 1px;
}
.belka
{
	font-size: 74px;
	height: 85px;
	color: darkgray;
}
.tytul
{
	margin: 30px;
	margin-top: 11px;
	margin-right: 30px;
	width: 77%;
	height: 20px;
	float: left;
}.mail
{
	margin: 20px;
	margin-top: -1px;
	margin-right: -4px;
	width: 56px;
	height: 38px;
	float: left;
	
}
a.maillink
{
	color: darkgray;
	text-decoration: none;
}

.linkedin
{
	margin: 20px;
	margin-top: -3px;
	margin-right: 30px;
	width: 40px;
	height: 22px;
	float: left;
	
	
}
a.linkedinlink
{
	color: darkgray;
	text-decoration: none;
}
h1
{
	font-size: 30px;
	font-weight:  400;
	color: #39a5f1;
	margin-bottom: 11px;
	margin-right: -49px;
	margin-top: 12px;
	text-align:  center;
	
}
.zdjecie7
{
	display: inline-block;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: -20px;
	margin-bottom:0px;
}
.zdjecie
{
	display: inline-block;
	margin-top: -2px;
	margin-left: 21px;
	margin-right: -21px;
}
.zdjecie2
{
	display: inline-block;
	margin-top: 0px;
	margin-left: 23px;
	margin-right: -19px;
}
.zdjecie3
{
	display: inline-block;
	margin-top: 2px;
	margin-left: 23px;
	margin-right: -17px;
	margin-bottom:15px;
}
.zdjecie4
{
	display: inline-block;
	margin-top: -9px;
	margin-left: 23px;
	margin-right: -17px;
}
.zdjecie5
{
	display: inline-block;
	margin-top: 7px;
	margin-left: 23px;
	margin-right: -17px;
	margin-bottom:15px;
}
.zdjecie6
{
	display: inline-block;
	margin-top: -9px;
	margin-left: 23px;
	margin-right: -17px;
}

.zdjecie8
{
	display: inline-block;
	margin-top: 5px;
	margin-left: 23px;
	margin-right: -17px;
	margin-bottom:15px;
}

.zdjecie9
{
	display: inline-block;
	margin-top: -8px;
	margin-left: 23px;
	margin-right: -17px;
	margin-bottom:15px;
}
.zdjecie10
{
	display: inline-block;
	margin-top: -8px;
	margin-left: 24px;
	margin-right: -18px;
	margin-bottom:0px;
}
.zdjecie11
{
	display: inline-block;
	margin-top: 4px;
	margin-left: 26px;
	margin-right: -21px;
	margin-bottom: 15px;
}
.sekcjazdjec
{
	
	background-color: #efefef;
	width: 1290px;
	margin-right: auto;
	margin-left: 4px;
}
.zdjecie a 
{
	opacity: 9;

}
.zdjecie2 above
{
	opacity: -2;
}
.zdjecie a:hover
{
	opacity: 5;
}
figure
{
	margin: 3px;
	padding: 0;
}

figure2
{
	margin: 0px;
	padding: 0;
}


footer
{
	margin-top: 15px;
	text-align: center;
	color:black;
	margin-bottom:20px;
}
.napis
{
	margin-left: 218px;
	margin-top: 21px;
}
:root {
	--color: #fafafa;
}

 {
	font-size: 16px;
	font-family: 'montserrat', sans-sherif;
	margin: 0;
	padding: 0;
	
	background: #202121;
	color: white;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-animation {
	position: relative;
	display: inline-block;
	font-size: 5.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	color: #383b3b;
}
.loading-animation::before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	color: var(--color);
	overflow: hidden;
	width: 0%;
	animation: loading 3s linear ;
	animation-fill-mode:forwards;
	
}



@keyframes loading {
	0% {
		width: 0%;
	}
	
	100% {
		width: 100%;
	}
}
